<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h2 style = "text-align: center;">Selective Schools Predictor</h2>
	
      {% for message in form.School_English.errors %}
         <div style="color:red">{{ message }}</div>
      {% endfor %}
      
      {% for message in form.School_Maths.errors %}
         <div style="color:red">{{ message }}</div>
      {% endfor %}
      
      {% for message in form.ExaminationScores_English.errors %}
         <div style="color:red">{{ message }}</div>
      {% endfor %}
      
      {% for message in form.ExaminationScores_Maths.errors %}
         <div style="color:red">{{ message }}</div>
      {% endfor %}
      
      {% for message in form.ExaminationScores_GA.errors %}
         <div style="color:red">{{ message }}</div>
      {% endfor %}
      
      {% for message in form.ExaminationScores_Writing.errors %}
         <div style="color:red">{{ message }}</div>
      {% endfor %}
	  
	  {% for message in form.HomeAddress.errors %}
         <div style="color:red">{{ message }}</div>
      {% endfor %}
	  	  
      <form action = "" method="POST" name="mainform">
            <br>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               <h4>School Assessment</h4>			  
			   
               {{ form.School_English.label }}<br>
               {{ form.School_English }}
               <br>
               
               {{ form.School_Maths.label }}<br>
               {{ form.School_Maths }}
               <br>
               <br>
 			   
			   <h4>Examination Scores</h4>			  

               {{ form.ExaminationScores_English.label }}<br>
               {{ form.ExaminationScores_English }}
               <br>

               {{ form.ExaminationScores_Maths.label }}<br>
               {{ form.ExaminationScores_Maths }}
               <br>

               {{ form.ExaminationScores_GA.label }}<br>
               {{ form.ExaminationScores_GA }}
               <br>

               {{ form.ExaminationScores_Writing.label }}<br>
               {{ form.ExaminationScores_Writing }}
               <br>
               <br> 
			   			   			   
			  <body>
   			    <h4>My Home Address</h4>			  
				<form>
                 {{ form.HomeAddress }}	
				</form>
				
				<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDF717x9JS9ixAmsn1vJnElLfWn20BgKcM&sensor=false&amp;libraries=places"></script>
				<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

				<script type="text/javascript" src="{{ url_for('static', filename='jquery.geocomplete.js') }}"></script>
				<script type="text/javascript" src="{{ url_for('static', filename='logger.js') }}"></script>
			   
				<script>
				  $(function(){
					
					$("#geocomplete").geocomplete({country: 'AUS'})
					  .bind("geocode:result", function(event, result){
						$.log("Result: " + result.formatted_address);
					  })
					  .bind("geocode:error", function(event, status){
						$.log("ERROR: " + status);
					  })
					  .bind("geocode:multiple", function(event, results){
						$.log("Multiple: " + results.length + " results found");
					  });                
				  });
				</script>					
			  </body>    
			  
              <br> 
			  <br> 
   	         
			  {{ form.Submit1 }}
            </div>          
      </form>
	  

  

{% endblock %}